// screens
$tabSmall: 650px;
$tabMedium: 800px;
$desktopSmall: 900px;
$desktopMedium: 1200px;
$desktopBig: 1500px;

// colors
$primaryColor: #73c9a6;
$secondaryColor: #f64c71;
$thirdColor: #2d3e50;

$neutralGray: #e6e6e6;
$neutralWhite: #fff;

// font size
$logoDesk: 1.5rem;
$logo: 1.2rem;

$pageHeadDesk: 2rem;
$pageHead: 1.5rem;

$resultDesk: 1.5rem;
$resultMob: 1.2rem;

$default: 1.5rem;

$secTitleDesk: 1.5rem;
$secTitleMob: 1.3rem;

$secSubTitleDesk: 1.3rem;
$secSubTitleMob: 1.1rem;

$secParaDesk: 1rem;
$secParaMob: 0.9rem;

$cardHeadDesk: 1.1rem;
$cardHeadMob: 0.9rem;

// font weight
$bold: 800;
$medium: 600;
$regular: 400;
