$primaryColor: #73c9a6;
$secondaryColor: #f64c71;
$tertiaryColor: #2d3e50;

$neutralGray: #e6e6e6;
$neutralWhite: #fff;

// section
$secTitleMob: 1.3rem;
$secSubTitleMob: 1.1rem;

// font weight
$bold: 800;
$medium: 600;
$regular: 400;
