// screens
$tabSmall: 650px;
$tabMedium: 800px;
$desktopSmall: 900px;
$desktopMedium: 1200px;
$desktopBig: 1500px;

// colors
$primaryColor: #73c9a6;
$secondaryColor: #f64c71;
$thirdColor: #2d3e50;

$neutralGray: #e6e6e6;
$neutralWhite: #fff;

// section
$pageHead: 1.5rem;
$secTitleMob: 1.3rem;
$secSubTitleMob: 1.1rem;

// font weight
$bold: 800;
$medium: 600;
$regular: 400;
