@use "variables";

.aboutCPM {
  padding: 2rem 0;

  h2 {
    text-align: center;
    font-weight: variables.$medium;
    font-size: variables.$secTitleMob;
    position: relative;
    margin-bottom: 1rem;

    &:before {
      content: " ";
      background-color: variables.$primaryColor;
      height: 15px;
      //   margin-left: -0.3em;
      position: absolute;
      bottom: 0;
      width: 120px;
      z-index: -1;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    // gap: 1rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .imageDiv {
    display: none; // for mobile
  }
}
