@use "variables";

.aboutCPM {
  padding: 2rem 0;

  @media only screen and (min-width: variables.$desktopSmall) {
    // padding: 6rem 0;
  }

  h2 {
    text-align: center;
    font-weight: variables.$medium;
    font-size: variables.$secTitleMob;
    position: relative;
    margin-bottom: 1rem;

    @media only screen and (min-width: variables.$desktopSmall) {
      font-size: variables.$secTitleDesk;
      text-align: initial;
    }

    &:before {
      content: " ";
      background-color: variables.$primaryColor;
      height: 15px;
      position: absolute;
      bottom: 0;
      left: 15px;
      width: 120px;
      z-index: -1;
    }
  }

  .grid {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: variables.$desktopSmall) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .whatIsCPM {
    margin: 2rem 0;

    @media only screen and (min-width: variables.$desktopSmall) {
      margin: initial;
    }

    h3 {
      font-weight: variables.$medium;
      font-size: variables.$secSubTitleMob;

      @media only screen and (min-width: variables.$desktopSmall) {
        font-size: variables.$secSubTitleDesk;
      }
    }
  }

  .text {
    font-size: variables.$secParaMob;

    @media only screen and (min-width: variables.$desktopSmall) {
      font-size: variables.$secParaDesk;
      line-height: 35px;
    }
  }

  .aboutText {
    width: 60%;
  }

  .imageDiv {
    display: none;

    @media only screen and (min-width: variables.$desktopSmall) {
      display: block;
      width: 35%;
    }
  }
}
