@use "variables";

.adMetrics {
  padding: 2rem 0;
  text-align: center;

  @media only screen and (min-width: variables.$desktopSmall) {
    padding: 4rem 0;
  }

  h2 {
    text-align: center;
    font-weight: variables.$medium;
    font-size: variables.$secTitleMob;
    position: relative;
    margin-bottom: 1rem;

    @media only screen and (min-width: variables.$desktopSmall) {
      font-size: variables.$secTitleDesk;
      display: inline-block;
    }

    &:before {
      content: " ";
      background-color: variables.$primaryColor;
      height: 15px;
      position: absolute;
      bottom: 0;
      width: 120px;
      z-index: -1;

      @media only screen and (min-width: variables.$desktopSmall) {
        left: 10px;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    // justify-content: center;
    gap: 2rem;

    @media only screen and (min-width: variables.$tabSmall) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .metric {
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;

    @media only screen and (min-width: variables.$desktopSmall) {
      margin: 1rem 0;
      padding: 2rem 0;
      transition: all 0.5s ease;

      &:hover {
        box-shadow: -2px 8px 22px 0 rgb(0 0 0 / 15%);
        transition: all 0.2s ease;
      }
    }

    .imageDiv {
      width: 30%;
      margin: 0 auto;

      @media only screen and (min-width: variables.$desktopSmall) {
        width: 50%;
      }
    }

    .text {
      margin-top: 1rem;
      @media only screen and (min-width: variables.$desktopSmall) {
        font-size: variables.$cardHeadDesk;
        margin-top: 1.5rem;
        font-weight: variables.$medium;
      }
    }
  }
}
