@use "variables";

.blogContainer {
  padding: 2rem 0;

  @media only screen and (min-width: variables.$desktopSmall) {
    padding-bottom: 2rem;
  }

  .group {
    display: flex;
  }

  .title {
    font-size: variables.$blogHeadMob;
    font-weight: variables.$medium;
    line-height: 30px;
    margin: initial;
    color: variables.$primaryColor;

    @media only screen and (min-width: variables.$desktopSmall) {
      font-size: variables.$blogHead;
    }
  }

  .imageDiv {
    margin: 2rem 0;
    width: 100%;

    @media only screen and (min-width: variables.$desktopSmall) {
      // width: 100%;
      // height: 20%;
    }
  }

  .content {
    h2 {
      font-size: variables.$blogH3Mob;
      font-weight: variables.$medium;
      line-height: 30px;

      @media only screen and (min-width: variables.$desktopSmall) {
        font-size: variables.$blogH3;
      }
    }

    h3 {
      font-size: variables.$blogH4Mob;
      font-weight: variables.$medium;

      @media only screen and (min-width: variables.$desktopSmall) {
        font-size: variables.$blogH4;
      }
    }

    p {
      font-weight: variables.$regular;
    }

    p,
    ul,
    ol {
      font-size: variables.$blogParaMob;

      @media only screen and (min-width: variables.$desktopSmall) {
        font-size: variables.$blogPara;
      }
    }

    li {
      margin: 1rem 0;
    }

    strong {
      font-weight: variables.$medium;
    }

    a {
      color: variables.$secondaryColor;
    }

    img {
      @media only screen and (min-width: variables.$desktopSmall) {
        width: fit-content;
      }
    }
  }
}
