@use "variables";

.modalContent {
  display: flex;
  flex-direction: column;

  .modalResult {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;

    @media only screen and (min-width: variables.$desktopSmall) {
      padding: 4rem;
    }

    .imageContainer {
      display: none;

      @media only screen and (min-width: variables.$desktopSmall) {
        display: block;
        width: 45%;
      }
    }

    .calculation {
      font-size: variables.$resultMob;

      @media only screen and (min-width: variables.$desktopSmall) {
        font-size: variables.$resultDesk;
        width: 50%;
      }
    }
  }

  .modalForm {
    width: 50%;
    background-color: variables.$thirdColor;
  }
}
