@use "variables";

.footer {
  //   padding: 1rem 0;
  padding-top: 2rem;
  position: sticky;
  width: 100%;
  top: 0;
  right: 0;
  background-color: variables.$neutralWhite;

  .logo {
    font-size: variables.$logo;
    font-weight: variables.$bold;
    margin: 1rem 0;

    @media only screen and (min-width: variables.$desktopSmall) {
      font-size: variables.$logoDesk;
    }

    span {
      color: variables.$primaryColor;
    }
  }

  .about {
    font-size: 0.8rem;
    margin-bottom: 1rem;

    @media only screen and (min-width: variables.$desktopSmall) {
      font-size: 1rem;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media only screen and (min-width: variables.$desktopSmall) {
      flex-direction: row;
      // align-items: center;
    }

    .quickLinks {
      margin: 1rem 0;

      @media only screen and (min-width: variables.$desktopSmall) {
        width: 50%;
      }

      .linkHead {
        font-weight: variables.$bold;

        @media only screen and (min-width: variables.$desktopSmall) {
          font-size: 1rem;
        }
      }

      .grid {
        display: grid;
        // grid-template-columns: 1fr 1fr;
        font-size: 0.9rem;

        @media only screen and (min-width: variables.$desktopSmall) {
          grid-template-columns: 1fr 1fr;
          column-gap: 2rem;
        }
      }
    }

    .collapseHead {
      font-size: 0.8rem;
      padding: 1rem 0;

      a {
        display: block;
        margin: 0.5rem;
        font-size: 0.8rem;

        @media only screen and (min-width: variables.$desktopSmall) {
          font-size: 0.95rem;
        }
      }

      @media only screen and (min-width: variables.$desktopSmall) {
        font-size: 0.95rem;
      }
    }

    .link {
      font-size: 0.8rem;
      padding: 1rem 0;

      @media only screen and (min-width: variables.$desktopSmall) {
        font-size: 0.95rem;
      }
    }
  }

  .copyright {
    border-top: 1px solid variables.$neutralGray;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;

    @media only screen and (min-width: variables.$desktopSmall) {
      font-size: 0.9rem;
    }
  }
}
