@use "variables";

.header {
  padding: 1rem 0;
  border-bottom: 1px solid variables.$neutralGray;
  position: sticky;
  width: 100%;
  top: 0;
  right: 0;
  background-color: variables.$neutralWhite;
  z-index: 10;

  .logo {
    font-size: variables.$logo;
    font-weight: variables.$bold;

    @media only screen and (min-width: variables.$desktopSmall) {
      font-size: variables.$logoDesk;
    }

    span {
      color: variables.$primaryColor;
    }
  }
}
