@use "variables";

.header {
  padding: 1rem 0;
  border-bottom: 1px solid variables.$neutralGray;
  position: sticky;
  width: 100%;
  top: 0;
  right: 0;
  background-color: variables.$neutralWhite;
  z-index: 10;

  .logo {
    font-size: variables.$logo;
    font-weight: variables.$bold;

    @media only screen and (min-width: variables.$desktopSmall) {
      font-size: variables.$logoDesk;
    }

    span {
      color: variables.$primaryColor;
    }

    flex: 1;
  }

  .navMob {
    @media only screen and (min-width: variables.$desktopSmall) {
      display: none;
    }
  }

  .navDesk {
    display: none;

    @media only screen and (min-width: variables.$desktopSmall) {
      display: block;

      .links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-weight: variables.$medium;

        .link {
          display: flex;
          gap: 0.5rem;
          cursor: pointer;
          margin-left: 2rem;
        }
      }
    }
  }
}
