@use "variables";

.heroContainer {
  padding: 2rem 0;
  max-width: fit-content;
  margin: 0 auto;

  @media only screen and (min-width: variables.$tabMedium) {
    max-width: initial;
  }

  .innerContainer {
    position: relative;
  }

  .group {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    @media only screen and (min-width: variables.$tabMedium) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  .imageContainer {
    display: none;

    @media only screen and (min-width: variables.$tabMedium) {
      display: block;
      width: 60%;
    }

    @media only screen and (min-width: variables.$desktopSmall) {
      width: 35%;
    }

    @media only screen and (min-width: variables.$desktopMedium) {
      width: 38%;
    }

    @media only screen and (min-width: variables.$desktopBig) {
      width: 45%;
    }
  }

  .title {
    font-size: variables.$pageHead;
    font-weight: variables.$bold;

    @media only screen and (min-width: variables.$desktopSmall) {
      font-size: variables.$pageHeadDesk;
    }

    position: relative;
  }

  .lineBreak {
    display: block;
  }

  .lineDeco {
    position: relative;
    display: inline-block;
    width: max-content;
    &:before {
      content: " ";
      background-color: #73c9a6;
      height: 15px;
      position: absolute;
      top: 20px;
      width: 100%;
      z-index: -1;

      @media only screen and (min-width: variables.$desktopSmall) {
        top: 30px;
      }
    }
  }

  .ctaAction {
    display: none;
    text-align: center;

    @media only screen and (min-width: variables.$tabMedium) {
      display: block;
      h3 {
        font-size: 1.1rem;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 1rem;
      }

      button {
        background-color: #f64c71;
        color: #fff;
        padding: 0.8rem 2rem;
        border-radius: 5px;
        font-weight: variables.$medium;
        border: none;
        cursor: pointer;
      }
    }
  }

  .circleSmall {
    display: none;

    @media only screen and (min-width: variables.$desktopSmall) {
      display: block;
      background-color: rgba($color: variables.$primaryColor, $alpha: 0.8);
      width: 150px;
      height: 150px;
      border-radius: 50%;
      z-index: -1;
      top: -23%;
      left: 55%;
      position: absolute;
    }
  }

  .circleBig {
    display: none;

    @media only screen and (min-width: variables.$desktopSmall) {
      display: block;
      background-color: rgba($color: variables.$primaryColor, $alpha: 0.8);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      z-index: -1;
      left: -5%;
      bottom: -70px;
      position: absolute;
    }
  }
}
