@use "variables";

.newsletterContainer {
  padding: 2rem 0;
  background-color: variables.$primaryColor;
  color: variables.$neutralWhite;

  h2 {
    // text-align: center;
    font-weight: variables.$medium;
    font-size: variables.$secTitleMob;
    position: relative;
    margin-bottom: 1rem;
    color: inherit;
  }

  .ant-input {
    background-color: transparent !important;
  }

  button {
    width: 100%;
  }

  .imageContainer {
    display: none;

    @media only screen and (min-width: variables.$tabSmall) {
      display: block;
      width: 40%;
    }

    @media only screen and (min-width: variables.$tabMedium) {
      width: 30%;
    }
  }

  .grid {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: variables.$tabSmall) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
