@use "variables";

.sectionContainer {
  padding: 2rem 0;

  h2 {
    text-align: center;
    font-weight: variables.$medium;
    font-size: variables.$secTitleMob;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1rem;

    @media only screen and (min-width: variables.$desktopSmall) {
      font-size: variables.$secTitleDesk;
    }

    &:before {
      content: " ";
      background-color: variables.$primaryColor;
      height: 15px;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 120px;
      z-index: -1;
    }
  }

  .articles {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2rem;

    @media only screen and (min-width: variables.$tabSmall) {
      grid-template-columns: 1fr 1fr;
      max-width: fit-content;
    }

    @media only screen and (min-width: variables.$desktopSmall) {
      max-width: 900px;
      gap: 10rem;
    }

    .article {
      box-shadow: 4px 4px 25px rgb(0 0 0 / 7%);
      border-radius: 10px;
      overflow: hidden;

      h3 {
        font-weight: variables.$medium;

        @media only screen and (min-width: variables.$desktopSmall) {
          font-size: variables.$cardHeadDesk;
        }
      }
    }

    .text {
      padding: 1rem;
      font-size: variables.$secParaMob;
    }
  }
}
